[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
tensorflow = "*"
fastapi = "*"
uvicorn = "*"
opencv-python = "*"
faiss-cpu = "*"
python-multipart = "*"
transformers = "*"

[dev-packages]

[requires]
python_version = "3.9"
